<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <title>Книга</title>
</head>
<body>
<a href="/users">Ко всем пользователям</a>
<a href="/partitions">Ко всем секциям</a>
<a href="/books">Ко всем книгам</a>
<h1>${book.name}</h1>
<form action="/books/${book.id}/update" method="post">
    <p>Книга: ${book.summary}</p>
    <label>
        Название
        <input type="text" name="summary">
    </label>
    <br>
    <label>
        Начало брони
        <input type="text" name="startTime" value= ${book.startTime}>
    </label>
    <br>
    <label>
        Конец брони
        <input type="text" name="finishTime" value= ${book.finishTime}>
    </label>
    <br>
    <input type="submit" value="Сохранить">
</form>
</body>
</html>
